.palette-container {
    margin: 50px auto;
    display: flex;
    width: 500px;
    flex-wrap: wrap;
    transition: all 0.5s;
}

.palette {
    width: 100px;
    height: 100px;
    display: flex;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.5s;
    box-sizing: border-box;
}

.palette.applied {
    border: 3px solid #ccc;
}

.palette:hover {
    transition: none;
    border: 3px solid black;
}

.palette .copied-message {
    margin: auto;
    transition: all 0.5s;
    padding: 3px;
    border-radius: 4px;
    pointer-events: none;
}


